<a href="https://colab.research.google.com/github/nebojsa55/Computational-Genomics_MidTerm-Project/blob/master/notebooks/ML_Example_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook will provide complete insite in the training and testing process of [DREAM Birth challenge](https://www.synapse.org/#!Synapse:syn18380862/wiki590485)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

# Navigate to the folder cointaing our data
%cd 'drive/MyDrive/ETF/Master/Computational-Genomics/Project/data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/ETF/Master/Computational-Genomics/Project/data

In [4]:
# Verify the chosen folder
!ls

anoSC1_v11_nokey.csv  anoSC2_v20_nokey.csv  eset_HuGene21ST.csv  HTA20_RMA.csv

In [6]:
import pandas as pd

data = pd.read_csv('anoSC1_v11_nokey.csv')
data.head()

          SampleID    GA  Batch      Set  Train Platform
0  Tarca_001_P1A01  11.0      1  PRB_HTA      1    HTA20
1  Tarca_013_P1B01  15.3      1  PRB_HTA      1    HTA20
2  Tarca_025_P1C01  21.7      1  PRB_HTA      1    HTA20
3  Tarca_037_P1D01  26.7      1  PRB_HTA      1    HTA20
4  Tarca_049_P1E01  31.3      1  PRB_HTA      1    HTA20